@model JulianaHote20171222.Models.Empresa

@{
    ViewBag.Title = "Details";
}

<h2>Excluir</h2>

<div>
    <h4>Empresa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeEMP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeEMP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RazaoSocialEMP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RazaoSocialEMP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cnpj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cnpj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataCadastro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Alterar", "Edit", new { id = Model.ControleEMP }) |
    @Html.ActionLink("Voltar", "Index")
</p>
