@model JulianaHote20171222.Models.Pessoa

@{
    ViewBag.Title = "Excluir";
}

<h2>Excluir</h2>

<h3>Deseja mesmo excluir o registro selecionado ?</h3>
<div>
    <h4>Pessoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Empresa.ControleEMP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empresa.NomeEMP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomePES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomePES)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cpf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataCadastro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
